main {
  display: grid;
  grid-template-columns: 17fr 38fr 19fr;
  width: 100%;
  max-width: 1500px;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  color: #333;
  @media(max-width: 400px){
    display: block;
    width: 95%;
  }
}

h1 {
  grid-column: 2 / 3;
  max-width: 658px;
  font-size: 4.5vw;
  @media(max-width: 400px){
    font-size: 40px;
  }
}

p, h3 {
  grid-column: 2/3;
  line-height: 1.6;
  margin: 10px auto;
}

#chart_wrapper {
  grid-column: 1/-1;
  //width: calc((100%/250) * 250);
  margin: 80px auto;
  @media(max-width: 812px){
    //width: 100%;
  }
}

#chart_wrapper p, #chart_wrapper h3 {
  line-height: 1.6;
  margin: 10px auto 0 0;
}

h3 {
  font-size: 25px;
}

p {
  font-size: 20px;
}

#chart {
  display: flex;
  flex-wrap: wrap;
  //grid-template-columns: repeat(auto-fit, 250px);
  margin: auto;
}

svg text {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;

}

.axis text {
  fill: grey;
}
