@import "variables";
@import "header";
@import "footer";
@import "donate";

@font-face {
  font-family: 'ProximaNova';
  src: url('../font/proxima_regular/proxima-nova-regular.eot');
  src: url('../font/proxima_regular/proxima-nova-regular.eot?#iefix') format('embedded-opentype'),
  url('../font/proxima_regular/proxima-nova-regular.woff2') format('woff2'),
  url('../font/proxima_regular/proxima-nova-regular.woff') format('woff'),
  url('../font/proxima_regular/proxima-nova-regular.ttf') format('truetype'),
  url('../font/proxima_regular/proxima-nova-regular.svg#youworkforthem') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('../font/proxima_bold/proxima-nova-bold.eot');
  src: url('../font/proxima_bold/proxima-nova-bold.eot?#iefix') format('embedded-opentype'),
  url('../font/proxima_bold/proxima-nova-bold.woff2') format('woff2'),
  url('../font/proxima_bold/proxima-nova-bold.woff') format('woff'),
  url('../font/proxima_bold/proxima-nova-bold.ttf') format('truetype'),
  url('../font/proxima_bold/proxima-nova-bold.svg#youworkforthem') format('svg');
  font-weight: 600;
  font-style: normal;
}


body {
  margin: 0;
  font-family: 'ProximaNova', sans-serif;
}

i {
  font-size:35px;
  color: #333;
  margin: 0 0 0 5px;
  max-height: 1em;
  transition: all 0.5s;

  &:hover {
    color: $texty-salmon;
  }
}

.soc {
  position: fixed;
  top: 5px;
  right: 25px;
}




main {
  max-width: 1300px;
  width: 90%;
  margin: auto;
  color: #333;
  @media(max-width: 400px){
    display: block;
    width: 95%;
  }

  h1 {
    width: 60%;
    margin: 50px auto 20px auto;
    font-size: calc(30px + 3vw);
    @media(max-width: $mq-narrow){
      width: 90%;
      margin: 50px 0 20px 0;
    }
  }

  p:not(.donate-p), h3 {
    width: 60%;
    line-height: 1.6;
    margin: 10px auto;
    @media(max-width: $mq-narrow){
      width: 100%;
      margin: 10px 0;
    }
  }

}

#chart_wrapper {
  grid-column: 1/-1;
  margin: 80px auto;

  p, h3 {
    width: 90%;
    line-height: 1.6;
    margin: 10px auto;
  }
}

h3 {
    font-size: 25px;
  }

p {
    font-size: 20px;
  }




#chart {
  display: flex;
  flex-wrap: wrap;
  margin: auto;

  svg text {
    font-family: 'ProximaNova', sans-serif;
    font-weight: 300;
  }

  .axis text {
    fill: grey;
  }

}
