@import "variables";
@import "header";
@import "footer";
@import "donate";

body {
  height: 100%;
  margin: 0;
  font-family: 'ProximaNova', sans-serif;
}

i {
  font-size:35px;
  color: #333;
  margin: 0 0 0 5px;
  max-height: 1em;
  transition: all 0.5s;

  &:hover {
    color: $texty-salmon;
  }
}

.soc {
  position: fixed;
  top: 5px;
  right: 25px;
}


h3 {
  font-size: 25px;
}

p {
  font-size: 20px;
}


main {
  max-width: 1300px;
  width: 90%;
  margin: auto;
  color: #333;
  @media(max-width: 400px){
    display: block;
    width: 95%;
  }

  h1 {
    width: 60%;
    margin: 50px auto 20px auto;
    font-size: calc(30px + 3vw);
    @media(max-width: $mq-narrow){
      width: 90%;
      margin: 50px 0 20px 0;
    }
  }

  p:not(.donate-p), h3 {
    width: 60%;
    line-height: 1.6;
    margin: 10px auto;
    @media(max-width: $mq-narrow){
      width: 100%;
      margin: 10px 0;
    }
  }

  a {
    text-decoration: none;
    color: inherit;
    border-bottom: 2px solid $texty-salmon;
  }
  a:hover {
    color: $texty-salmon;

  }

}

#chart_wrapper, #maps, #charts {
  grid-column: 1/-1;
  margin: 80px auto;

  p, h3 {
    width: 90%;
    line-height: 1.6;
    margin: 10px auto;
  }
}


#chart {
  display: flex;
  flex-wrap: wrap;
  margin: auto;

  .y.axis > path.domain {
    display: none;
  }

  .x.axis > path.domain {
    stroke: lightgrey;
  }

  g.tick line {
    stroke: lightgrey;
  }

  svg text {
    font-family: 'ProximaNova', sans-serif;
    font-weight: 300;
  }

  .axis text {
    fill: grey;
  }

}

.hexagons {
  stroke: #000;
  stroke-width: 1px;
}

path.region {
  stroke: grey;
  stroke-width:1px;
  fill: white;
}

#maps {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media(max-width: 812px){
    display: block;
  }

  h3, .source {
    grid-column: 1/-1;
  }



  p {
    text-align: center;
  }
}

.map {
  height: 100%;
  width: 100%;
}

.source {
  text-align: right;
  font-size: 14px;
}


//line chart
#charts {
  margin: 100px auto auto auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media(max-width: 812px){
    display: block;
  }

  p {

  }
}

#growth_speed {
  display: flex;

  p {
    margin: auto;
  }
}

.y.axis line {
  fill: none;
  stroke: #ccc;
  stroke-dasharray: 2px 3px;
  shape-rendering: crispEdges;
  stroke-width: 1px;
}

.x.axis line {
 display: none;
}

.axis text {
  font-family: 'Proxima-Nova', sans-serif;
  font-size: 13px;
  pointer-events: none;
  fill: #7e7e7e;
}

.y.axis text {
  text-anchor: end !important;
  font-size:14px;
  fill: #7e7e7e;
}

.domain {
  display: none;
}

.line {
  stroke: #cf1e25;
  stroke-width: 3px;
  fill: transparent;
  stroke-opacity: 0.8;
  //fill-opacity: 0.8;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus {
  font-size: 14px;
}

.focus circle {
  fill: black;
}